$primary-color: #3d3c52;

header {
  position: fixed;
  width: 100%;
  z-index: 999;
}

body {
  margin: 0;
}

* {
  font-family: 'Nunito Sans', sans-serif;
}

.global-content {
  margin: 0 0 0 80px;

  .local-container {
    color: $primary-color;
    margin-left: 60px;
  }
}
